body {
	background-image: url("topography.png");
	color: #ffffff;
}

#img {
	display: block;
	margin: 0 auto;
}

.jumbotron {
	background: #2ed5f5;
	font-family: 'Dosis', sans-serif;
	padding-top: 30px;
}

#left {
	padding-left: 0px;
}

#right {
	padding-right: 0px;
}

#the-word {
  padding: 0;
}

#the-word li {
  list-style: none;
  display: inline-block;
  padding: 0 8px;
  font-size: 20px;
}

#incorrect {
  padding: 0;
}

#incorrect li { 
  list-style: none;
  display: inline-block;
  padding: 0 10px;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 40px;
}

#start {
	font-size: 15px;
}


