body {
	background-image: url("topography.png");
	color: #ffffff;
}

.jumbotron {
	background: #2ed5f5;
	font-family: 'Dosis', sans-serif;
	padding-top: 30px;
	border: solid 0.5px #b9b7b7;
}

#left {
	padding-left: 0px;
}

#right {
	padding-right: 0px;
}

#the-word {
  padding: 0;
}

#the-word li {
  list-style: none;
  display: inline-block;
  padding: 0 8px;
  font-size: 25px;
}

#incorrect {
  padding: 0;
}

#incorrect li { 
  list-style: none;
  display: inline-block;
  padding: 0 10px;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 40px;
}

#start {
	font-size: 20px;
}

.modal {
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.modal-content {
    background-color: #2ed5f5;
    margin: 12% auto; 
    padding: 60px 20px;
    border: 1px solid #888;
    width: 51%; 
    height: 35%;
    font-size: 35px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}

